
.landing__link {
    width: 61px;
    height: 56px;  
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center center;
}
