@tailwind base;
@tailwind components;
@tailwind utilities;


.landing__link {
  width: 61px;
  height: 56px;  
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center center;
}
  
  .link_vk {
    background-image: url(./images/vk_logo.png);
  }
  
  .link_telegram {
    background-image: url(./images/telegram_logo.png);
  }
  
  .link_gmail {
    background-image: url(./images/gmail_logo.png);
  }