@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  scroll-behavior: smooth;
}

.link_vk {
  background-image: url(./images/vk_logo.png);
}

.link_telegram {
  background-image: url(./images/telegram_logo.png);
}

.link_gmail {
  background-image: url(./images/gmail_logo.png);
}