.work {
  border-radius: 25px 25px 0 0;
}

.work__item-link {
  background-position: center center;
  display: block;
  width: 48px;
  height: 48px;
}

.work__item-link_whatsapp {
  background: transparent url(../../images/whatsapp_work.png) no-repeat;
  background-size: cover;
}

.work__item-link_telegram {
  background: transparent url(../../images/telegram_work.png) no-repeat;
  background-size: cover;
}
