.list-item__year {
  width: 70px;
}

.education__icon {
  background: url(../../images/diploma.png) no-repeat;
  background-size: contain;
  background-position: center center;
  width: 80px;
  height: 80px;
  width: 100%;
}

.skills__icon {
  background: url(../../images/skills.png) no-repeat;
  background-size: contain;
  background-position: center center;
  width: 80px;
  height: 80px;
  width: 100%;
}

.instruments__icon {
  background: url(../../images/instrument.png) no-repeat;
  background-size: contain;
  background-position: center center;
  width: 80px;
  height: 80px;
  width: 100%;
}

.icon {
  width: 20px;
  height: 20px;
}

.container {
  max-width: 100%;
  border-radius: 25px;
  /* box-shadow: 0 1px 4px rgba(0, 0, 0, 1),
  -23px 0 20px -23px rgba(0, 0, 0, .8),
  23px 0 20px -23px rgba(0, 0, 0, .8),
  0 0 40px rgba(0, 0, 0, .1) inset; */
  box-shadow: 0 0 3px 3px rgba(221, 221, 221, 1);
  /* box-shadow: 3px 3px #06b6d4, 6px 6px #6c6666; */
}
